body{
margin:0;
font-family:Segoe UI;
background:#eef2f7;
}

/* header */
header{
background:linear-gradient(135deg,#0f4c75,#3282b8);
color:white;
padding:25px;
text-align:center;
}

/* navbar */
nav{
background:#1b262c;
padding:15px;
text-align:center;
}
nav a{
color:white;
margin:15px;
text-decoration:none;
font-weight:bold;
}
nav a:hover{
color:#00d4ff;
}

/* cards */
.container{
padding:40px;
text-align:center;
}

.card{
background:white;
padding:25px;
margin:20px auto;
width:80%;
border-radius:12px;
box-shadow:0 10px 25px rgba(0,0,0,0.15);
}

.status-box{
font-size:45px;
padding:40px;
width:320px;
margin:auto;
border-radius:12px;
color:white;
}

.occupied{background:#e63946;}
.empty{background:#2a9d8f;}

footer{
background:#1b262c;
color:white;
text-align:center;
padding:15px;
margin-top:40px;
}
